body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: rgb(182, 0, 0);
}

a:hover {
  color: #470101;
}

.title {
  display: block;
  margin-top: 0;
  margin-bottom: 1%;
}

.container-fluid {
  background-color: #111111;
}

.navbar-brand {
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 10px; /* Add padding to move text down */
}

#ticker {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#ticker li {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  color: #333;
}

#modeToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #69c3ff; /* Blue background color */
  color: #ffffff; /* White text color */
  padding: 5px 10px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#modeToggle:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

#articles {
  background-color: #ffffff;
  padding-top: 1%;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#articles .news article {
  border: 2px solid #000000;
  padding: 10px;
  width: calc(48% - 20px);
  margin: 2%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden; /* Added overflow property */
  text-overflow: ellipsis; /* Truncate long text with an ellipsis */
  white-space: nowrap; /* Prevent wrapping of long text */
}

.big-article {
  border: 2px solid #000000;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.big-article img {
  width: 100%;
}

@media (max-width: 768px) {
  .news article {
    width: 100%;
    margin-right: 0;
  }
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

body.dark-mode .container-fluid {
  background-color: #b1b1b1;
  color: #000000;
}

body.dark-mode #articles {
  background-color: #1a1a1a;
}

body.dark-mode .news article {
  border: 2px solid #ffffff;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .news article .title a {
  color: #3498db;
}

body.dark-mode .big-article {
  border: 2px solid #ffffff;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .big-article .title a {
  color: #3498db;
}

body.dark-mode .navbar {
  background-color: #1a1a1a;
  color: #000000;
}

body.dark-mode .navbar a {
  color: #000000;
}

body.dark-mode .navbar-toggler-icon {
  background-color: #ffffff;
}